<div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Event Manager App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a>
            </li>
            
            <li class="nav-item active">
              <a class="nav-link" routerLink="events" routerLinkActive="active" >Events</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="git" routerLinkActive="active" >Git</a>
            </li>

            <li class="nav-item" *ngIf="!isAuthenticated">
              <a class="nav-link" routerLink="signup" routerLinkActive="active">Signup</a>
            </li>
            <li class="nav-item" *ngIf="!isAuthenticated">
                <a class="nav-link" routerLink="login" routerLinkActive="active" >Login</a>
              </li>
          
              <li class="nav-item" *ngIf="isAuthenticated && isAdmin">
                <a class="nav-link" routerLink="admin" routerLinkActive="active" >Admin</a>
              </li>
              <li class="nav-item" *ngIf="isAuthenticated">
                <a class="nav-link" class="btn btn-link" (click)="logout($event)">Logout</a>
              </li>
          </ul>
          <div class="float-right">
            <span class="text-primary">{{timespan}}</span>
          </div>
        </div>
      </nav>
</div>