@{
    Layout = "_Layout";
}

<div class="container">
    <form id="frmLogin" name="frmLogin" method="post">
        <h3>Please Login here.</h3>
        <div class="form-group row">
            <label for="txtUsername">Username: </label>
            <input type="text" name="Username" id="txtUsername" class="form-control" />
        </div>

        <div class="form-group row">
            <label for="txtPassword">Password: </label>
            <input type="password" name="Password" id="txtPassword" class="form-control" />
        </div>
        @if (ViewData["UnAuthorizedMessage"] != null)
        {
            <div>
                <h4 class="alert-danger">@ViewData["UnAuthorizedMessage"]</h4>
            </div>
        }

        <div>
            <button type="reset" class="btn btn-warning">Cancel</button> &nbsp;&nbsp;
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </form>
</div>

@section localScripts{ 
    <script>
        //write local scrpts for this view only
    </script>
}
