@model UsermanagementApp.Entity.UserProfile

<div>
    <label>Username: @Model.Username</label>
</div>
<div>
    <label>FirstName: @Model.FirstName</label>
</div>
<div>
    <label>LastName: @Model.LastName</label>
</div>
<div>
    <label>Email: @Model.Email</label>
</div>
<div>
    <a href="~/Account/Welcome">Go Back</a>
</div>
