<form id="frmSignup" name="frmSignup" method="post">
    <h2>Please Register Account here.</h2>
    <br />
    <div>
        <label for="txtUsername">Username: </label>
        <input type="text" name="Username" id="txtUsername" />
    </div>

    <div>
        <label for="txtPassword">Password: </label>
        <input type="password" name="password" id="txtPassword" />
    </div>
    <div>
        <label for="txtFirstName">FirstName: </label>
        <input type="text" name="FirstName" id="txtFirstName" />

    </div>
    <div>
        <label for="txtLastName">LastName: </label>
        <input type="text" name="LastName" id="txtLastName" />
    </div>
    <div>
        <label for="txtEmail">Email: </label>
        <input type="text" name="Email" id="txtEmail" />
    </div>
    <div>
        <button type="reset">Cancel</button> &nbsp;&nbsp;
        <button type="submit">Submit</button>
    </div>
</form>