@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@if (!User.Identity.IsAuthenticated)
{
    <span>[Hello Guest!]</span>

}
else
{
<span>[Hello @User.Identity.Name]</span>
}