@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@if (HttpContextAccessor.HttpContext.Session.GetString("userToken") == null)
{
    <span>[Hello Guest!]</span>

}
else
{
<span>[Hello @HttpContextAccessor.HttpContext.Session.GetString("userToken")!]</span>
}