<div class="container">
   <div class="row">
    <div class="col-12">
        <header>
            <h3>Event List</h3>
        </header>
    </div>
   </div>
   <br>
   <div class="row">
        <div class="col-12">
            <form>
                <input type="text" id="txtSearch" name="filterString" class="form-control" [(ngModel)]="searchString">
            </form>
        </div>
   </div>
<br>
   <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Title</th>
                        <th class="text-center">Desc</th>
                        <th class="text-center">Published Date</th>
                        <th class="text-center">Created Date</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let event of tempEvents | eventFilter:searchString; let i = index; trackBy: trackByFunction" [ngStyle]="{'background-color': event.isPublished === true ? 'green' : 'cyan' }">
                        <td>{{event.eventId}} - {{i}}</td>
                        <td>{{event.Title}}</td>
                        <td><span [truncate]="30" highlight>{{event.longDescription}}</span></td>
                        <td>{{event.publishedDate | date}}</td>
                        <td>{{event.dateCreated | date}}</td>
                        <td>
                            <a class="btn btn-link" routerLink="/events/{{event.eventId}}" routerLinkActive="active">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
   </div>
    
</div>