<h3>Employee List</h3>
<div class="row">
    <div class="col-12">
        <a routerLink="/add-edit-employee" routerLinkActive="active" class="btn btn-primary">Add New</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <employee-search (emitSearch)="onSearch($event)" [allEmployees]="employees"></employee-search>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Salary</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr [ngClass]="{'text-success': item.salary > 1000}" *ngFor="let item of tempEployees">
                    <td>{{item.id}}</td>
                    <td>{{item.name | uppercase}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.salary}}</td>
                    <td>
                        <a routerLink="/employees/{{item.id}}" routerLinkActive="active" class="btn btn-link">View</a>    
                        <button class="btn btn-info" type="button"  >Edit</button>
                        <button class="btn btn-danger" type="button"  >Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<a [href]="siteUrl" target="_blank">{{siteUrlText}}</a>