<div class="container">
      <p class="jumbotron">
          Hello User. This is application is used for user tracking.
          You can signup and login and manange information
      </p>
    <div>
        <h2>List Web technologies</h2>
        <ol type="1">
             <li>HTML 5</li>
             <li>CSS</li>
            <li>JavaScript</li>
            <li>ASP.NET Core</li>
        </ol>


        <h3>.NET Contents</h3>
        <ul class="list-group">
            <li class="list-group-item">C# Lanuage</li>
            <li class="list-group-item">ASP.NET Core MVC</li>
            <li class="list-group-item">ASP.NET Web API</li>
        </ul>
    </div>
</div>